@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #e2dcde;
  height: 100vh;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 54px;
  color: #2d2d34;
}

.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_name_col .prt_title_name {
  line-height: 140px;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_name_col .prt_title_name span {
  font-style: normal;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_role_description_col {
  padding-top: 50%;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_desc .prt_back_to_top .prt_icon {
  color: #2d2d34;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_desc .prt_back_to_top .prt_label {
  visibility: hidden;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_desc .prt_back_to_top:hover .prt_label {
  visibility: visible;
}
.prt_homescreen .prt_homescreen_content .prt_about_page p span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: lowercase;
}
.prt_homescreen .prt_homescreen_content .prt_about_page p span .prt_span_normal {
  font-style: normal;
}
.prt_homescreen .prt_homescreen_content .prt_about_page .prt_about_me_title span {
  font-style: normal;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_navigation_button .prt_icon {
  color: #2d2d34;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_more_icon {
  margin-left: 15px;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_work_title span {
  font-style: normal;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_cover {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 755px;
  border: 2px solid #2d2d34;
  border-radius: 30px;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_cover .pro_project_cover_image {
  object-fit: cover;
  border-radius: 30px;
}

.prt_header {
  width: 100%;
}

.prt_round_button {
  margin-left: 24px;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  border: 1.5px solid #2d2d34;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}
.prt_round_button .prt_menu_link {
  line-height: 20px;
  letter-spacing: -0.05em;
  padding-left: 10px;
  padding-right: 10px;
}
.prt_round_button:hover {
  color: #e2dcde;
  background-color: #2d2d34;
}

.prt_normal_style {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  letter-spacing: -0.05em;
}

.prt_normal_style_i {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0.05em;
}

.prt_normal_style_ib {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.prt_normal_style_b {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.prt_content_style {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  letter-spacing: -0.05em;
}

.prt_content_style_i {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: italic;
  letter-spacing: -0.05em;
}

.prt_content_style_b {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.prt_content_style_ib {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.prt_uppercase {
  text-transform: uppercase;
}

.prt_project_title_style {
  font-family: "Space Mono", monospace;
  font-size: 64px;
  font-weight: 700;
}

.prt_pf_title {
  font-family: "Playfair Display", serif;
  font-size: 148px;
}

.prt_pf_title_i {
  font-family: "Playfair Display", serif;
  font-size: 148px;
  font-style: italic;
}

.prt_pf_content {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.prt_pf_content_i {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
