@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #e2dcde;
  height: 100vh;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 54px;
  margin-bottom: 54px;
  color: #2d2d34;
}
@media screen and (max-width: 1280px) {
  body {
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.prt_main {
  padding-bottom: 54px;
}

.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_name_col {
  padding-bottom: 7%;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_name_col .prt_title_name {
  line-height: 125px;
}
@media screen and (max-width: 1280px) {
  .prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_name_col .prt_title_name {
    line-height: 105px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_name_col .prt_title_name {
    line-height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_title .prt_name_col .prt_title_name {
    line-height: 80px;
  }
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_desc .prt_back_to_top .prt_icon {
  color: #2d2d34;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_desc .prt_back_to_top .prt_label {
  visibility: hidden;
}
.prt_homescreen .prt_homescreen_content .prt_home_page .prt_home_page_row_desc .prt_back_to_top:hover .prt_label {
  visibility: visible;
}
.prt_homescreen .prt_homescreen_content .prt_about_page {
  margin-bottom: 10%;
}
.prt_homescreen .prt_homescreen_content .prt_about_page .prt_about_me_title_top {
  margin-bottom: 100px;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_navigation_button .prt_icon {
  color: #2d2d34;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_more_icon {
  margin-left: 15px;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_work_title {
  margin-bottom: 40px;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_button {
  height: 100%;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_see_more {
  padding-bottom: 20px;
}
@media screen and (max-width: 1280px) {
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_see_more {
    padding-bottom: 16px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_see_more {
    padding-bottom: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_see_more {
    padding-bottom: 6px;
    font-size: 10px;
  }
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover {
  position: relative;
  width: 100%;
  height: 41.5vw;
  border: 2px solid #2d2d34;
  border-radius: 20px;
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover .prt_project_cover_image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 1280px) {
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover {
    height: 42vw;
    border-radius: 20px;
  }
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover .prt_project_cover_image {
    border-radius: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover {
    height: 46vw;
    border-radius: 20px;
  }
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover .prt_project_cover_image {
    border-radius: 20px;
  }
}
@media screen and (max-width: 768px) {
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover {
    height: 46vw;
    border-radius: 20px;
  }
  .prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_detail_section .prt_project_cover .prt_project_cover_image {
    border-radius: 20px;
  }
}
.prt_homescreen .prt_homescreen_content .prt_work_page .prt_project_section .prt_project_details {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5%;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_form_title {
  height: 150px;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info label {
  margin-top: 5px;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_required:after {
  content: " *";
  color: #f45d59;
  font-size: 12px;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_form_input {
  background-color: transparent;
  border-bottom: 1.5px solid #2d2d34;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_form_input:focus {
  outline: none !important;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_input_text {
  height: 35px;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_form_submit .prt_contact_form_button {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  border: 1.5px solid #2d2d34;
  border-radius: 20px;
  background-color: #2d2d34;
  color: #e2dcde;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_links {
  height: 100%;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_links a,
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_links form {
  margin-top: 10px;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_links .prt_external_link:before {
  content: " / ";
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_links .prt_external_link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_links .prt_external_link:hover:after {
  content: "";
  color: transparent;
}
.prt_homescreen .prt_homescreen_content .prt_contact_page .prt_contact_info .prt_contact_links .prt_external_link:hover:before {
  color: transparent;
}

.prt_more_projects {
  padding-top: 5%;
}
.prt_more_projects .prt_more_projects_title {
  height: 50px;
  margin-bottom: 50px;
}
.prt_more_projects .prt_project_description_details {
  margin-bottom: 50px;
}

.prt_tools,
.prt_description {
  margin-bottom: 25px;
}

.prt_github_link h4:before {
  content: "/ ";
}
.prt_github_link:hover h4 {
  text-decoration: underline solid 2px;
  text-underline-offset: 5px;
}
.prt_github_link:hover h4:before {
  color: transparent;
}
.prt_github_link:hover h4:after {
  content: "";
  color: transparent;
}

.prt_single_project .prt_single_project_header {
  width: 100%;
  margin-bottom: 75px;
  margin-top: 75px;
}
.prt_single_project .prt_primary_image {
  position: relative;
  width: 100%;
  height: 875px;
  border: 2px solid #2d2d34;
  border-radius: 20px;
}
.prt_single_project .prt_primary_image .prt_image {
  object-fit: cover;
  border-radius: 20px;
}
.prt_single_project .prt_secondary {
  width: 100%;
  margin-top: 50px;
}
.prt_single_project .prt_secondary .prt_secondary_image {
  position: relative;
  height: 500px;
  border: 2px solid #2d2d34;
  border-radius: 20px;
}
.prt_single_project .prt_secondary .prt_secondary_image .prt_image {
  object-fit: cover;
  border-radius: 20px;
}

.prt_section_divider {
  height: 100px;
}

.prt_header {
  width: 100%;
}

.prt_round_button {
  margin-left: 24px;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  border: 1.5px solid #2d2d34;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}
.prt_round_button .prt_menu_link {
  line-height: 22px;
  letter-spacing: -0.05em;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 1280px) {
  .prt_round_button .prt_menu_link {
    line-height: 22px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_round_button .prt_menu_link {
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .prt_round_button .prt_menu_link {
    line-height: 20px;
  }
}
.prt_round_button:hover {
  color: #e2dcde;
  background-color: #2d2d34;
}

.prt_normal_style {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_normal_style {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_normal_style {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .prt_normal_style {
    font-size: 14px;
  }
}

.prt_normal_style_i {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: italic;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_normal_style_i {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_normal_style_i {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .prt_normal_style_i {
    font-size: 14px;
  }
}

.prt_normal_style_ib {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_normal_style_ib {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_normal_style_ib {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .prt_normal_style_ib {
    font-size: 14px;
  }
}

.prt_normal_style_b {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_normal_style_b {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_normal_style_b {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .prt_normal_style_b {
    font-size: 14px;
  }
}

.prt_content_style {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-style: normal;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_content_style {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_content_style {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .prt_content_style {
    font-size: 16px;
  }
}

.prt_content_style_i {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_content_style_i {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_content_style_i {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .prt_content_style_i {
    font-size: 16px;
  }
}

.prt_content_style_b {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_content_style_b {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_content_style_b {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .prt_content_style_b {
    font-size: 16px;
  }
}

.prt_content_style_ib {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1280px) {
  .prt_content_style_ib {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_content_style_ib {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .prt_content_style_ib {
    font-size: 16px;
  }
}

.prt_uppercase {
  text-transform: uppercase;
}

.prt_lowercase {
  text-transform: lowercase;
}

.prt_project_title_style {
  font-family: "Space Mono", monospace;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
}

.prt_pf_title {
  font-family: "Playfair Display", serif;
  font-size: 148px;
  font-style: normal;
}
@media screen and (max-width: 1280px) {
  .prt_pf_title {
    font-size: 124px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_pf_title {
    font-size: 116px;
  }
}
@media screen and (max-width: 768px) {
  .prt_pf_title {
    font-size: 92px;
  }
}

.prt_pf_title_i {
  font-family: "Playfair Display", serif;
  font-size: 148px;
  font-style: italic;
}
@media screen and (max-width: 1280px) {
  .prt_pf_title_i {
    font-size: 124px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_pf_title_i {
    font-size: 116px;
  }
}
@media screen and (max-width: 768px) {
  .prt_pf_title_i {
    font-size: 92px;
  }
}

.prt_pf_content {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: normal;
}
@media screen and (max-width: 1280px) {
  .prt_pf_content {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_pf_content {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .prt_pf_content {
    font-size: 16px;
  }
}

.prt_pf_content_i {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: italic;
}
@media screen and (max-width: 1280px) {
  .prt_pf_content_i {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_pf_content_i {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .prt_pf_content_i {
    font-size: 16px;
  }
}

.prt_pf_normal {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: normal;
}
@media screen and (max-width: 1280px) {
  .prt_pf_normal {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_pf_normal {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .prt_pf_normal {
    font-size: 14px;
  }
}

.prt_pf_normal_i {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: italic;
}
@media screen and (max-width: 1280px) {
  .prt_pf_normal_i {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .prt_pf_normal_i {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .prt_pf_normal_i {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
