@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$space: "Space Mono", monospace;
$playfair: "Playfair Display", serif;
$main: #e9e6e7;
$dark: #2d2d34;
$red: #f45d59;
$round-radius_xl: 20px;
$round-radius_lg: 20px;
$round-radius_md: 20px;
$round-radius_sm: 20px;
$normal_xsm: 12px;
$normal_sm: 14px;
$normal_lg: 16px;
$title_sm: 92px;
$title_md: 116px;
$title_lg: 124px;
$title_xl: 148px;
$project-title: 64px;
$content_sm: 16px;
$content_lg: 18px;
$line-space_sm: 20px;
$line-space_lg: 22px;
$letter-spacing: -5%;
$large_line_height_sm: 80px;
$large_line_height_md: 100px;
$large_line_height_lg: 105px;
$large_line_height_xl: 125px;
$footer: 12px;

$cover_height_sm: 46vw;
$cover_height_md: 46vw;
$cover_height_lg: 42vw;
$cover_height_xl: 41.5vw;

$primary_height_sm: 54.5vw;
$primary_height_md: 56vw;
$primary_height_lg: 50.55vw;
$primary_height_xl: 41.5vw;

$secondary_height_sm: 54.5vw;
$secondary_height_md: 42vw;
$secondary_height_lg: 36vw;
$secondary_height_xl: 36vw;

$secondary_width_sm: 54.5vw;
$secondary_width_md: 56vw;
$secondary_width_lg: 50.55vw;
$secondary_width_xl: 41.5vw;

$padding_sm: 54px;
$padding_md: 54px;
$padding_lg: 110px;
$padding_xl: 128px;

$small_screen: 768px;
$medium_screen: 1024px;
$large_screen: 1280px;
$xl_screen: 1280px;

// 1280+
@mixin responsive($breakpoint) {
    // From 1025 to 1280
    @if $breakpoint == large {
        @media screen and (max-width: $large_screen) {
            @content;
        }
    }

    // From 769 to 1024
    @if $breakpoint == medium {
        @media screen and (max-width: $medium_screen) {
            @content;
        }
    }

    // Up to 768
    @if $breakpoint == small {
        @media screen and (max-width: $small_screen) {
            @content;
        }
    }
}

@function cover_height() {
}

body {
    background-color: $main;
    height: 100vh;
    padding: {
        left: $padding_xl;
        right: $padding_xl;
        top: 54px;
    }

    @include responsive(large) {
        padding-left: $padding_lg;
        padding-right: $padding_lg;
    }

    @include responsive(medium) {
        padding-left: $padding_md;
        padding-right: $padding_md;
    }

    @include responsive(small) {
        padding-left: $padding_sm;
        padding-right: $padding_sm;
    }

    margin-bottom: 54px;
    color: $dark;
}
.prt_main {
    padding-bottom: 54px;
}

// .prt_body {
//     background-color: $main;

//     border: 2px solid red;
//     padding: 25px;
//     border-radius: 35px;
// }

.prt_homescreen {
    .prt_homescreen_content {
        // HOME PAGE CONTENT
        .prt_home_page {
            .prt_home_page_row_title {
                .prt_name_col {
                    .prt_title_name {
                        line-height: $large_line_height_xl;

                        @include responsive(large) {
                            line-height: $large_line_height_lg;
                        }

                        @include responsive(medium) {
                            line-height: $large_line_height_md;
                        }

                        @include responsive(small) {
                            line-height: $large_line_height_sm;
                        }
                    }

                    padding-bottom: 7%;
                }
            }

            .prt_home_page_row_role {
            }

            .prt_home_page_row_desc {
                .prt_back_to_top {
                    button {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        color: $dark;
                    }

                    button,
                    .prt_icon,
                    h5 {
                        pointer-events: none;
                    }

                    .prt_label {
                        visibility: visible;
                    }
                    transition: all 500ms ease-in;
                }
            }
        }

        .prt_about_page {
            margin-bottom: 10%;
            .prt_about_me_title_top {
                margin-bottom: 100px;
            }
        }

        // WORK CONTENT

        .prt_work_page {
            .prt_navigation_button {
                .prt_icon {
                    color: $dark;
                }
            }
            .prt_more_icon {
                margin-left: 15px;
            }

            .prt_work_title {
                margin-bottom: 15vh;
            }
            .prt_project_section {
                .prt_button {
                    height: 100%;
                }
                .prt_see_more {
                    padding-bottom: 20px;

                    @include responsive(large) {
                        padding-bottom: 16px;
                        font-size: $normal_lg;
                    }

                    @include responsive(medium) {
                        padding-bottom: 10px;
                        font-size: $normal_sm;
                    }

                    @include responsive(small) {
                        padding-bottom: 6px;
                        font-size: $normal_xsm;
                    }
                }
                .prt_project_detail_section {
                    .prt_project_cover {
                        position: relative;
                        width: 100%;
                        height: $cover_height_xl;

                        .prt_project_cover_image {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            border-radius: $round-radius_xl;
                        }

                        border: 2px solid $dark;
                        border-radius: $round-radius_xl;

                        @include responsive(large) {
                            height: $cover_height_lg;
                            border-radius: $round-radius_lg;

                            .prt_project_cover_image {
                                border-radius: $round-radius_lg;
                            }
                        }

                        @include responsive(medium) {
                            height: $cover_height_md;
                            border-radius: $round-radius_md;
                            .prt_project_cover_image {
                                border-radius: $round-radius_md;
                            }
                        }

                        @include responsive(small) {
                            height: $cover_height_sm;
                            border-radius: $round-radius_sm;
                            .prt_project_cover_image {
                                border-radius: $round-radius_sm;
                            }
                        }
                    }
                }
                .prt_project_details {
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 2.5%;
                }
            }
        }

        .prt_contact_page {
            .prt_contact_form_title {
                height: 150px;
            }

            .prt_contact_info {
                label {
                    margin: {
                        top: 5px;
                    }
                }

                .prt_required {
                    &:after {
                        content: " *";
                        color: $red;
                        font-size: 12px;
                    }
                }

                .prt_contact_form_input {
                    background-color: transparent;
                    border-bottom: 1.5px solid $dark;
                    &:focus {
                        outline: none !important;
                    }
                }

                .prt_contact_input_text {
                    height: 35px;
                }

                .prt_contact_form_submit {
                    .prt_contact_form_button {
                        margin-top: 30px;
                        padding: {
                            left: 15px;
                            right: 15px;
                        }

                        width: -moz-fit-content;
                        width: fit-content;
                        height: 30px;

                        border: 1.5px solid $dark;
                        border-radius: $round-radius_lg;
                        background-color: $dark;
                        color: $main;
                    }
                }

                .prt_contact_links {
                    height: 100%;

                    a,
                    form {
                        margin-top: 10px;
                    }
                    .prt_external_link {
                        &:before {
                            content: " / ";
                        }

                        &:hover {
                            &:after {
                                content: "";
                                color: transparent;
                            }
                            &:before {
                                color: transparent;
                            }
                            text-decoration: underline;
                            text-underline-offset: 5px;
                        }
                    }
                }
            }
        }
    }
}

// MORE PROJECTS

.prt_more_projects {
    padding-top: 10%;

    .prt_project_description_details {
        margin-bottom: 50px;
    }
}

.prt_separator {
    border: {
        bottom: 1.5px solid $dark;
    }

    width: 35vw;

    margin-bottom: 50px;
}

.prt_tools,
.prt_description {
    margin-bottom: 25px;
}

.prt_github_link {
    h4 {
        &:before {
            content: "/ ";
        }
    }

    &:hover {
        h4 {
            &:before {
                color: transparent;
            }

            &:after {
                content: "";
                color: transparent;
            }

            text-decoration: underline solid 2px;
            text-underline-offset: 5px;
        }
    }
}

// SINGLE PROJECT

.prt_single_project {
    .prt_single_project_header {
        width: 100%;
        margin-bottom: 75px;
        margin-top: 75px;

        .prt_title {
            width: 75%;
        }

        .prt_project_navigation {
            width: 25%;

            button {
                background-color: $main;
                border-radius: $round-radius_sm;
                border: 1.5px solid $main;
                padding: 5px;

                &:hover {
                    border: 1.5px solid $dark;
                    background-color: $dark;
                }

                &:hover .prt_icon {
                    color: $main;
                }
            }

            .prt_prev {
                padding-right: 10px;
            }

            .prt_next {
                padding-left: 10px;
            }

            .prt_icon {
                padding: 5px;
            }
        }
    }

    .prt_primary_image {
        position: relative;
        width: 100%;
        height: $primary_height_lg;

        .prt_image {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: $round-radius_lg;
        }

        border: 2px solid $dark;
        border-radius: $round-radius_lg;

        @include responsive(large) {
            height: $primary_height_lg;
            border-radius: $round-radius_lg;

            .prt_project_cover_image {
                border-radius: $round-radius_lg;
            }
        }

        @include responsive(medium) {
            height: $primary_height_md;
            border-radius: $round-radius_md;
            .prt_project_cover_image {
                border-radius: $round-radius_md;
            }
        }

        @include responsive(small) {
            height: $primary_height_sm;
            border-radius: $round-radius_sm;
            .prt_project_cover_image {
                border-radius: $round-radius_sm;
            }
        }
    }

    .prt_secondary {
        width: 100%;

        margin-top: 50px;
        .prt_secondary_image {
            position: relative;
            width: 60%;
            height: $secondary_height_lg;
            .prt_image {
                object-fit: cover;
                border-radius: $round-radius_lg;
            }

            border: 2px solid $dark;
            border-radius: $round-radius_lg;

            @include responsive(large) {
                height: $secondary_height_lg;
                border-radius: $round-radius_lg;

                .prtimage {
                    border-radius: $round-radius_lg;
                }
            }

            @include responsive(medium) {
                height: $secondary_height_md;
                border-radius: $round-radius_md;
                .prt_image {
                    border-radius: $round-radius_md;
                }
            }

            @include responsive(small) {
                height: $secondary_height_sm;
                border-radius: $round-radius_sm;
                .prt_image {
                    border-radius: $round-radius_sm;
                }
                width: 100%;
            }
        }

        .prt_details {
            width: 50%;

            @include responsive(small) {
                width: 100%;
            }
        }
    }

    padding-bottom: 25%;
}

.prt_section_divider {
    height: 100px;
}
.prt_header {
    // height: 84px;
    // background-color: $main;
    // top: 0;
    // padding-top: 54px;

    left: 0;
    right: 0;
    z-index: 120;
    padding: {
        left: $padding_xl;
        right: $padding_xl;
    }

    @include responsive(large) {
        padding: {
            left: $padding_lg;
            right: $padding_lg;
        }
    }

    @include responsive(medium) {
        padding: {
            left: $padding_md;
            right: $padding_md;
        }
    }

    @include responsive(small) {
        padding: {
            left: $padding_sm;
            right: $padding_sm;
        }
    }

    .prt_header_logo {
        padding: {
            top: 4px;
            bottom: 4px;
            left: 12px;
            right: 12px;
        }
        border-radius: $round-radius_lg;
        background-color: $main;
    }
}

.prt_round_button {
    margin: {
        left: 24px;
    }
    background-color: $main;

    .prt_menu_link {
        line-height: $line-space_lg;

        @include responsive(large) {
            line-height: $line-space_lg;
        }

        @include responsive(medium) {
            line-height: $line-space_sm;
        }

        @include responsive(small) {
            line-height: $line-space_sm;
        }
        letter-spacing: -0.05em;

        padding: {
            left: 10px;
            right: 10px;
        }
    }

    width: -moz-fit-content;
    width: fit-content;

    height: 30px;

    border: 2px solid $dark;
    border-radius: $round-radius_lg;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $main;
        background-color: $dark;
    }
}

.prt_cursor {
    background-color: $red;
    width: 35px; 
    height:35px;
    border-radius: 50%;
    opacity: 0.35;
    position: absolute;
    pointer-events: none;
    z-index: 100000;  


}
// FONT STYLES
.prt_normal_style {
    font: {
        family: $space;
        size: $normal_lg;
        style: normal;
    }

    @include responsive(large) {
        font-size: $normal_lg;
    }

    @include responsive(medium) {
        font-size: $normal_sm;
    }

    @include responsive(small) {
        font-size: $normal_sm;
    }

    letter-spacing: -0.05em;
}

.prt_normal_style_i {
    font: {
        family: $space;
        size: $normal_lg;
        style: italic;
    }

    @include responsive(large) {
        font-size: $normal_lg;
    }

    @include responsive(medium) {
        font-size: $normal_sm;
    }

    @include responsive(small) {
        font-size: $normal_sm;
    }

    letter-spacing: -0.05em;
}

.prt_normal_style_ib {
    font: {
        family: $space;
        size: $normal_lg;
        style: italic;
        weight: 700;
    }

    @include responsive(large) {
        font-size: $normal_lg;
    }

    @include responsive(medium) {
        font-size: $normal_sm;
    }

    @include responsive(small) {
        font-size: $normal_sm;
    }

    letter-spacing: -0.05em;
}

.prt_normal_style_b {
    font: {
        family: $space;
        size: $normal_lg;
        weight: 700;
        style: normal;
    }

    @include responsive(large) {
        font-size: $normal_lg;
    }

    @include responsive(medium) {
        font-size: $normal_sm;
    }

    @include responsive(small) {
        font-size: $normal_sm;
    }

    letter-spacing: -0.05em;
}

.prt_content_style {
    font: {
        family: $space;
        size: $content_lg;
        style: normal;
    }

    @include responsive(large) {
        font-size: $content_sm;
    }

    @include responsive(medium) {
        font-size: $content_sm;
    }

    @include responsive(small) {
        font-size: $content_sm;
    }

    letter-spacing: -0.05em;
}

.prt_content_style_i {
    font: {
        family: $space;
        size: $content_lg;
        style: italic;
    }

    @include responsive(large) {
        font-size: $content_sm;
    }

    @include responsive(medium) {
        font-size: $content_sm;
    }

    @include responsive(small) {
        font-size: $content_sm;
    }

    letter-spacing: -0.05em;
}

.prt_content_style_b {
    font: {
        family: $space;
        size: $content_lg;
        weight: 700;
        style: normal;
    }

    @include responsive(large) {
        font-size: $content_sm;
    }

    @include responsive(medium) {
        font-size: $content_sm;
    }

    @include responsive(small) {
        font-size: $content_sm;
    }

    letter-spacing: -0.05em;
}

.prt_content_style_ib {
    font: {
        family: $space;
        size: $content_lg;
        style: italic;
        weight: 700;
    }

    @include responsive(large) {
        font-size: $content_sm;
    }

    @include responsive(medium) {
        font-size: $content_sm;
    }

    @include responsive(small) {
        font-size: $content_sm;
    }

    letter-spacing: -0.05em;
}

.prt_uppercase {
    text-transform: uppercase;
}

.prt_lowercase {
    text-transform: lowercase;
}

.prt_project_title_style {
    font: {
        family: $space;
        size: $project-title;
        weight: 700;
        style: normal;
    }
}

// TITLE FONT STYLE

.prt_pf_title {
    font: {
        family: $playfair;
        size: $title_xl;
        style: normal;
    }

    @include responsive(large) {
        font-size: $title_lg;
    }

    @include responsive(medium) {
        font-size: $title_md;
    }

    @include responsive(small) {
        font-size: $title_sm;
    }
}

.prt_pf_title_i {
    font: {
        family: $playfair;
        size: $title_xl;
        style: italic;
    }

    @include responsive(large) {
        font-size: $title_lg;
    }

    @include responsive(medium) {
        font-size: $title_md;
    }

    @include responsive(small) {
        font-size: $title_sm;
    }
}

.prt_pf_content {
    font: {
        family: $playfair;
        size: $content_lg;
        style: normal;
    }

    @include responsive(large) {
        font-size: $content_sm;
    }

    @include responsive(medium) {
        font-size: $content_sm;
    }

    @include responsive(small) {
        font-size: $content_sm;
    }
}

.prt_pf_content_i {
    font: {
        family: $playfair;
        size: $content_lg;
        style: italic;
    }

    @include responsive(large) {
        font-size: $content_sm;
    }

    @include responsive(medium) {
        font-size: $content_sm;
    }

    @include responsive(small) {
        font-size: $content_sm;
    }
}

.prt_pf_normal {
    font: {
        family: $playfair;
        size: $normal_lg;
        style: normal;
    }

    @include responsive(large) {
        font-size: $normal_lg;
    }

    @include responsive(medium) {
        font-size: $normal_sm;
    }

    @include responsive(small) {
        font-size: $normal_sm;
    }
}
.prt_normal_style_xs {
    font: {
        family: $space;
        size: $normal_xsm;
        style: normal;
        weight: 700;
    }
}

.prt_pf_normal_i {
    font: {
        family: $playfair;
        size: $normal_lg;
        style: italic;
    }

    @include responsive(large) {
        font-size: $normal_lg;
    }

    @include responsive(medium) {
        font-size: $normal_sm;
    }

    @include responsive(small) {
        font-size: $normal_sm;
    }
}

.prt_footer_style {
    font: {
        family: $space;
        size: $footer;
        style: normal;
    }
    letter-spacing: -0.05em;
}

.prt_footer_style {
    font: {
        family: $space;
        size: $footer;
        style: normal;
        weight: 700;
    }
    letter-spacing: -0.05em;
}

// ANIMATIONS

.prt_plus_menu,
.prt_menu {
    transition: all 500ms ease-in-out;
}

.prt_plus_menu {
    color: $dark;
}
