@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$poppins: "Poppins", sans-serif;
$space: "Space Mono", monospace;
$playfair: "Playfair Display", serif;
$main: #e2dcde;
$dark: #2d2d34;
$round-radius: 30px;
$normal: 14px;
$content: 16;
$line-space: 20px;
$letter-spacing: -5%;

main {
    background-color: $main;
    height: 100vh;
}
.prt_homescreen {
    .prt_homescreen_content {
        div {
            background-color: red;
        }
        
    }

}


.prt_header {
    width: 100%;
    .prt_header_logo {
        width: 50%;
    }
    .prt_header_menu {
        width: 50%;
    }
}

.prt_round_button {
    margin: {
        left: 10px;
    }
    .prt_menu_link {
        font: {
            family: $space;
            size: $normal;
            weight: $normal;
        }

        line-height: $line-space;
        letter-spacing: -0.05em;

        padding: {
            left: 10px;
            right: 10px;
        }
    }

    width: -moz-fit-content;
    width: fit-content;

    height: 30px;

    border: 1.5px solid $dark;
    border-radius: $round-radius;
}
